.folderhandle {
  cursor: grab;
}
.folderhandle::before {
  content: "\205e"
}
.folderview {
  text-align: center;
  border-collapse: separate; /* do not collapse for sticky header to work */
  border-spacing: 0;
}
.folderviewaccount {
  text-align: left;
}
.folderviewheader {
    position: sticky;
    top: 0;
    background-color: rgba(255,255,255,0.8);
}
.folderviewheader > .header > * {
    padding-left: .4em;
    padding-right: .4em;
    border-bottom-style: double;
}
.folderviewheader > .header > :nth-child(4n+1) {
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
}

.folderviewbody > * >:nth-child(2) {
  text-align: left;
}
.folderviewbody > * > * {
    border-bottom-style: solid;
    border-width: 1px;
}
.default button.resetbutton {
    display: none;
}
.hidden {
  display: none;
}

input:where([type="number"]) {
  min-height: unset;
  margin: unset;
  padding-left: 0.5em;
}