#tidybirdButton,
[place="palette"] > #tidybirdButton {
list-style-image: url("chrome://tidybird/skin/icon.png");
}

#tidybirdPane {
  padding: 6px;
  margin: 0;
  overflow: auto;
}

#tidybirdPane {
  background-color: var(--tidybird-backgroundcolor) !important;
  color: var(--tidybird-textcolor);
}

.tidybird-button {
  width: 100%;
}
.tidybird-folder-move-button {
  margin-bottom: 3px;
  display: flex;
  flex-wrap: wrap;
  word-break: break-word; /* at least for tooltips! TODO should this be a toggle setting for the button text? */
  height: auto;
}

.hidden {
  display: none;
}

/*
 * since changing the background-color of a button seems to reset all css properties
 *  and we have to change the background-color when a dark theme is used (as it is left default and may render the text unreadable
 * we try to re-set all necessary properties when a theme is used
 */
.tidybird-folder-move-button {
  /* toolbarbutton.css */
  text-shadow: inherit;
  /* messenger.css */
  color: inherit !important;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: background-color .15s, border-color .15s;
}

.tidybird-folder-move-button {
  border-color: var(--tidybird-button-bordercolor);
  background-color: var(--tidybird-button-bgcolor);
}

.tidybird-folder-move-button:hover {
  border-color: var(--tidybird-button-hover-bordercolor);
  background-color: var(--tidybird-button-hover-bgcolor);
}

.tidybird-folder-move-button:active {
  border-color: var(--tidybird-button-active-bordercolor);
  background-color: var(--tidybird-button-active-bgcolor);
}

.tidybird-folder-move-button-label-1 {
  padding: 0;
  font-weight: bold;
  text-align: left;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.tidybird-folder-move-button-label-2 {
  text-align: right;
  vertical-align: bottom;
  font-size: 0.8em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

/* working tooltips thanks to https://stackoverflow.com/a/25813336 */
[tooltiptext]::after {
  /* needed */
  position: absolute;
  opacity: 0;
  pointer-events: none; /* otherwise, we have funky effects on overlapping tooltips and hoovers */
  /* needed with customized value */
  content: attr(tooltiptext);

  /* customizable */
  transition: all 0.15s ease;
  padding: .5em;
  border-radius: 10px;
  box-shadow: -2px -2px 1px silver;
  word-wrap: break-word; /* does not change anything, probably because the size is not fixed */
}

[tooltiptext]::after {
  color: var(--tidybird-textcolor);
}

[tooltiptext]:hover::after {
  /* needed: 0 << opacity <= 1  */
  opacity: .95;

  /* customizable */
  margin-top: 1.5em;
  transition-delay: 0.65s;
  background-color: var(--tidybird-tooltip-bgcolor);
}

.tidybird-folder-move-button > svg {
  /*
   * changing a "replaced element" (content) with css does not work
   * which is also according to the specs AFAICT
   * no idea how they made it work in the main interface
   * getting the svg through javascript is not permitted
   */
  fill: color-mix(in srgb, var(--tidybird-thread-pane-unread-fill) 50%, transparent);
  stroke: var(--tidybird-thread-pane-unread-stroke);
}
/*
.tidybird-folder-move-button-label-1::after {
  content: url("chrome://messenger/skin/icons/new/unread-dot.svg");
}
*/

/* vi: set tabstop=2 shiftwidth=2 softtabstop=2 expandtab: */
