#tidybirdButton,
[place="palette"] > #tidybirdButton {
  list-style-image: url("chrome://tidybird/skin/icon.png");
}

#tidybirdSplitter {
  min-height: 2px;
  min-width: 2px;
}

#tidybirdPane {
  padding: 6px;
  margin: 0;
  overflow: auto;
}

.tidybird-folder-move-button {
  margin: 3px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tidybird-folder-move-button-label-1 {
  padding: 0;
  font-weight: bold;
  text-align: left;
  flex: auto;
}

.tidybird-folder-move-button-label-2 {
  text-align: right;
  vertical-align: bottom;
  font-size: 0.8em;
  flex: auto;
  align-self: center;
}
