name: "web-ext"
on:
  push:
  pull_request:

  workflow_dispatch:

jobs:
  web-ext:
    name: "web-ext"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Install node"
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: "Install requirements"
        run: npm install

#      - name: "Run eslint"
#        run: ./node_modules/.bin/eslint .

      - name: "Add required permission for privileged mode to make linter happy"
        run: |
          sed -i '/^  "permissions": \[$/a \ \ \ \ "mozillaAddons",' manifest.json
        shell: bash

      - name: "web-ext lint"
        uses: tatankat/web-ext-lint@v2
        with:
          verbose: true
          privileged: true

      - name: "Remove FF built-in add-ons permission"
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          sed -i '/^    "mozillaAddons",$/d' manifest.json
        shell: bash

      - name: "Get web-ext web-ext build config"
        if: startsWith(github.ref, 'refs/tags/v')
        id: get_webext_config
        run: |
          echo ignoreFiles=$(jq -c .webExt.ignoreFiles package.json) >> $GITHUB_OUTPUT
        shell: bash

      - name: "web-ext build"
        id: web-ext-build
        if: startsWith(github.ref, 'refs/tags/v')
        uses: kewisch/action-web-ext@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          cmd: build
          channel: listed
          verbose: true
          ignoreFiles: ${{ steps.get_webext_config.outputs.ignoreFiles }}

      - name: "Get xpi filename"
        id: get_xpi_filename
        if: ${{ steps.web-ext-build.outputs.target }}
        run: |
          echo XPIFILENAME=$(echo ${{ steps.web-ext-build.outputs.target }} | sed "s/\.zip$/.xpi/") >> $GITHUB_OUTPUT
        shell: bash

      - name: "Copy zip to xpi"
        if: ${{ steps.web-ext-build.outputs.target }}
        run: |
          cp ${{ steps.web-ext-build.outputs.target }} ${{ steps.get_xpi_filename.outputs.XPIFILENAME }}
        shell: bash

      - name: "Get version"
        id: get_version
        if: ${{ steps.web-ext-build.outputs.target }}
        run: |
          echo VERSION=${GITHUB_REF/refs\/tags\/v/} >> $GITHUB_OUTPUT
        shell: bash

      - name: "Get tag annotation"
        id: get_tag
        if: ${{ steps.web-ext-build.outputs.target }}
        run: |
          git fetch --tags --force
          echo subject=$(git for-each-ref $GITHUB_REF --format='%(contents:subject)') >> $GITHUB_OUTPUT
        shell: bash

      - name: "Create release"
        id: create_release
        if: ${{ steps.web-ext-build.outputs.target }}
        uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Tidybird ${{ steps.get_version.outputs.VERSION }}
          body: |
            ${{ steps.get_tag.outputs.subject }}
          draft: true
          prerelease: true
          artifacts: ${{ steps.get_xpi_filename.outputs.XPIFILENAME }}, ${{ steps.web-ext-build.outputs.target }}
